body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #BBCDC0;
}

.main{
    background-color: #A2C5AC;
    border: 3px solid #878E99;
    border-radius: 10px;
    width: 50vw;
    height: 20vw;

    margin-top: 40px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 50vw;
    height: 15vw;
}


button{
    position: absolute;
    border: 1px solid #878E99;
    border-radius: 10px;
    background-color: #9DB5B2;
    margin: 10px;
    transition: 0.3s;
}
.main button{
    width: 30%;
    height: 2vw;
}
button:hover{
    background-color: #92A2A6;
}
button:active{
    transform: translateY(2px);
    background-color: #878E99;
}

.startBtn{
    bottom: 0;
    left: 0;
}
#pauseBtn{
    bottom: 0;
}
.stopBtn{
    bottom: 0;
    right: 0;
}

.timerContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #D3D5D4;
    height: 5vw;
    width: 90%;
    left: 5%;
    top: 4vw;

    background-color: #D3D5D4;
    border: 1px solid #878E99;
    border-radius: 10px;
}

/* === Social Media Cards CSS === */

.discordCard{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;

    width: 200px;
    height: 50px;
    font-size: large;

    background-color: #5865f2;
    border: 1px solid black;
    border-radius: 25px;
  }
  .discordCard a{
    color: white;
  }
  .twitterCard{
    position: absolute;
    bottom: 0;
    align-self: center;
    margin-bottom: 10px;

    width: 200px;
    height: 50px;
    font-size: large;
    
    background-color: #1DA1F2;
    border: 1px solid black;
    border-radius: 25px;
  }
  .twitterCard a{
    color: white;
  }
  .gitHubCard{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;

    width: 200px;
    height: 50px;
    font-size: large;
    
    background-color: #333;
    border: 1px solid black;
    border-radius: 25px;
  }
  .gitHubCard a{
    color: white;
  }

  /* === Historic CSS === */
  #historicMain{
    width: 50vw;
    height: 20vw;

    background-color: #D3D5D4;
    border: 3px solid #878E99;
    border-radius: 10px;

    margin-top: 40px;

    overflow: hidden;
    overflow-y: scroll;
  }

  .markDiv{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .markDiv button{
    position: relative;
    border: 1px solid #878E99;
    border-radius: 10px;
    background-color: #9DB5B2;
    margin: 10px;
    transition: 0.3s;
  }
  .resetMarkBtn{
    position: fixed;
    border: 1px solid #878E99;
    border-radius: 10px;
    background-color: #9DB5B2;
    margin: 10px;
    transition: 0.3s;
  }

  .markDivDelete{
    animation-name: delete;
    animation-duration: 0.3s;
  }
  @keyframes delete {
    from {opacity: 100%}
    to {opacity: 0%}
  }
